*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.bgimg{
   min-height: 100vh;
   
   justify-content: center;
   align-items: center;
   position: relative;
   
}
.bgimg::before{
    content: '';
    background-image: url(https://images.unsplash.com/photo-1619679505795-a4d0e6be5e02?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHJlYWN0JTIwbG9nb3xlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.bgimg{
    color: rgb(235, 34, 34);
}